{% extends 'base.html.twig' %}

{% block title %}Modifier la sous-classe {{subclass.name}}{% endblock %}

{% block body %}
    <h1>Modifier la sous-classe {{subclass.name}}</h1>

    {{ include('admin/subclass/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-primary my-2" href="{{ path('app_admin_subclass_index') }}">Retour à la liste</a>

    {{ include('admin/subclass/_delete_form.html.twig') }}
{% endblock %}
