{% extends 'base.html.twig' %}

{% block title %}Modifier la classe {{playable_class.name}}{% endblock %}

{% block body %}
    <h1>Modifier la classe {{playable_class.name}}</h1>

    {{ include('admin/playable_class/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-primary my-2" href="{{ path('app_admin_playable_class_index') }}">Retour à la liste</a>

    {{ include('admin/playable_class/_delete_form.html.twig') }}
{% endblock %}