{% extends 'base.html.twig' %}

{% block title %}Modifier l'objet {{ item.name }}{% endblock %}

{% block body %}
    <h1>Modifier l'objet {{ item.name }}</h1>

    {{ include('admin/item/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-primary my-2" href="{{ path('app_admin_item_index') }}">Retour à la liste</a>

    {{ include('admin/item/_delete_form.html.twig') }}
{% endblock %}
