{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe de {{user.firstName}}{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger mt-2" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Modifier le mot de passe de {{user.firstName}}</h1>

    <form name="user_password_edit" method="post">
        <div id="user_password_edit" novalidate="novalidate">
            <div class="mb-3">
                <label for="password_old" class="form-label required">Mot de passe</label>
                <input type="password" id="password_old" name="password_old" required="required" class="password-field form-control">
            </div>
            <div class="mb-3">
                <label for="password_new" class="form-label required">Nouveau mot de passe</label>
                <input type="password" id="password_new" name="password_new" required="required" class="password-field form-control">
            </div>
            <div class="mb-3">
                <label for="password_new_confirmation" class="form-label required">Confirmation du mot de passe</label>
                <input type="password" id="password_new_confirmation" name="password_new_confirmation" required="required" class="password-field form-control">
            </div>
            <input type="hidden" name="_token" value="{{  csrf_token('password' ~ user.id) }}">
        </div>
        <button class="btn btn-warning">Modifier le mot de passe</button>
    </form>

    <a class="btn btn-primary my-2" href="{{ path('app_admin_user_index') }}">Retour à la liste</a>
{% endblock %}